<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="appcmd" value="%systemroot%\system32\inetsrv\AppCmd.exe"/>
		<add key="directoryName" value="ExportIIS,Sites,Apps,Pools"/>
		<add key="directorySitess" value="Sites"/>
		<add key="directoryApps" value="Apps"/>
		<add key="directoryNamePools" value="Pools"/>
	</appSettings>
</configuration>